.tourist-container {
    padding: 4% 8%;
}
.tourist-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
}
@media (max-width: 1280px) {
    .places {
        width: 100%;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        margin-top: 32px;
    }
}
@media (max-width: 768px) {
    .form-inputs {
        display: grid;
        grid-template-columns: 1fr;
    }
    .form-input-title {
        margin-top: 16px;
    }
    .form-input-title,
    .form-input-description {
        width: 100%;
        max-width: 100%;
    }
    .image-preview {
        position: absolute;
        height: 212px;
    }
    .tourist-title {
        font-size: 32px;
        font-weight: 700;
        max-width: 332px;
        margin-bottom: 32px;
    }
    .result-places {
        max-width: 288px;
        flex-direction: column;
    }
    h1.result-title {
        margin-top: 68px;
    }
    .form-btn {
        margin-top: 2px;
    }
    .form-btn {
        width: 100%;
    }
    .result-places {
        margin-bottom: 0;
    }
    .card-result {
        width: 100%;
        max-width: 288px;
        padding: 24px 52px;
    }
    .card-result > p {
        margin-top: 8px;
    }
    .result-places:last-child {
        margin-bottom: 33px;
    }
}
@media (max-width: 338px) {
    .form-input-title,
    .form-input-description {
        max-width: 288px;
    }
    .btn-wrapper {
        display: flex;
        justify-content: end;
        width: 288px;
    }
    .form-btn {
        width: 100%;
    }
}
