.tourist-form {
    width: 100%;
    max-width: 720px;
}
.form-inputs {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.form-inputs-image-wrapper {
    display: flex;
    position: relative;
}
.image-preview {
    position: absolute;
    left: 0;
    height: 212px;
}
.form-input-image {
    display: none;
}

.form-inputs-image-label {
    position: relative;
    text-align: center;
    color: #858585;
    width: 288px;
    height: 212px;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    margin-right: 16px;
    padding: 94px 114px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
}
.form-input-title {
    width: 100%;
    max-width: 326px;
    height: 54px;
    padding: 16px;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
}
.form-input-description {
    width: 100%;
    max-width: 414px;
    height: 136px;
    margin-top: 16px;
    padding: 38px 20px;
    resize: vertical;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
}
.btn-wrapper {
    display: flex;
    justify-content: end;
}
.form-btn {
    width: 122px;
    height: 56px;
    margin-top: 16px;
    border: 0;
    border-radius: 8px;
    color: $white;
    font-weight: 700;
    background-color: $red300;
    transition: background-color 0.2s linear;
}
