.places {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 24px;
    margin-top: 32px;
}
.result-places {
    max-width: 576px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    margin-bottom: 16px;
}
.renderized-img {
    height: 212px;
    display: block;
}
.card-result {
    width: 100%;
    max-width: 288px;
    padding: 24px;
}
.card-result > h1 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 28px;
}
.card-result > p {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    height: 98px;
    overflow: auto;
}
